.header
  .header__bar
    .header__bar__title
      = link_to "Happytravel", root_path, class:"Happytravel"
    .header__bar__link-hotel
      = link_to "ホテル", "https://www.tour.ne.jp/w_hotel/", class:"hotel"
    .header__bar__link-chcket
      = link_to "航空券", "https://www.tour.ne.jp/w_air/", class:"chcket"
    .header__bar__link-tour
      = link_to "ツアー", "https://www.tour.ne.jp/w_tour/", class:"tour"
    .header__bar__link-username
      = link_to "#{current_user.name}さん", "#", class:"name"
    .header__bar__link-logout
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class:"logout"